:root {
	--sk-primary: #0160BE;
	--sk-background: #212327;
	--sk-text: #f1f5f9;

	--sk-background-input: #3b3b3b;
	--sk-border-input: #1f3953;

	--sk-surface: #121212;

	--drop-shadow: drop-shadow(0 0 0.75rem rgba(0, 73, 163, 0.5));
	--shadow: 0px 10px 15px -3px rgba(0, 73, 163, 0.2);
}