@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './_variables.css';

body {
	background-color: var(--sk-background);
	color: var(--sk-text);
	height: 100vh;
	color-scheme: dark;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Poppins, sans-serif;
}

button {
	border: none;
	cursor: pointer;
	font-family: inherit;
}

select {
	font-family: inherit;
}

input[type="text"],
input[type="number"],
select,
textarea {
	background-color: var(--sk-background-input);
	border: 1px solid var(--sk-border-input);
	color: var(--sk-text);
	padding: 10px;
	border-radius: 10px;
	font-family: inherit;
	font-size: 18px;

	&:focus {
		outline: none;
		border-color: var(--sk-primary);
	}
}

hr {
	border: none;
	border-top: 1px solid var(--sk-border-input);
}

dialog {
	background-color: var(--sk-surface);
	border: none;
	border-radius: 15px;
	padding: 20px;
	color: var(--sk-text);
	margin: auto;

	&::backdrop {
		backdrop-filter: blur(2px);
		background-color: #0f1520b3;
	}
}

[popover] {
	border: none;
	background-color: var(--sk-surface);
	border-radius: 10px;
	padding: 10px;
	color: var(--sk-text);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

[data-layout="login"] {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

	footer {
		position: fixed;
    	bottom: 10px;
    	left: 0;
    	right: 0;
    	text-align: center;
    	font-size: 14px;
		color: rgba(255, 255, 255, 0.3);

		a {
			color: inherit;
		}
	}
}

[data-layout="home"] {
	width: 700px;
	margin: auto;
	padding: 30px 0px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 20px;

		h1 {
			display: flex;
			align-items: center;
			gap: 10px;
			font-weight: 400;

			img {
				box-shadow: 0 0 .75rem rgba(0, 73, 163, .5);
			}
		}

		button {
			background: none;
			color: var(--sk-text);
			opacity: 0.5;
			display: flex;
			align-items: center;
			gap: 6px;
			font-size: 18px;
			padding: 4px 8px;
			border-radius: 8px;

			&:hover {
				opacity: 1;
				background-color: var(--sk-background-input);
			}
		}
	}

	main {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}